<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.fashionette.tests.Listeners" />
    </listeners>
    <test name="fashionette Test cases">
        <classes>
            <class name="com.fashionette.tests.AddToCartTest">
                <methods>
                    <include name="verifyProductAddedToCart"/>
                </methods>
            </class>
            <class name="com.fashionette.tests.ApplyVoucherTest">
                <methods>
                    <include name="verifyVoucherApplied"/>
                </methods>
            </class>
            <class name="com.fashionette.tests.ModifyUserDataTest">
                <methods>
                    <include name="verifyUserDataGetModified"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>